$white: rgba(#fff,.9)
$bg_dark: rgba(#000,.7)
$blue: rgb(0,228,228)
$grey: rgb(200,200,200)

$border: 2px solid gray
$shadow-bright: 0 0 4px 3px rgba($blue,.6)

$player_colors: red, yellow, orange, pink, green, brown, grey, lightblue
