$white: rgba(#fff,.9)
$bg_dark: rgba(#000,.7)
$blue: rgb(0,228,228)
$grey: rgb(200,200,200)
$green: rgb(69,179,94)

$border: 2px solid gray
$shadow-bright: 0 0 4px 3px rgba($blue,.6)

$player_colors: red, yellow, orange, pink, green, brown, darkblue, lightblue
$facings: 0, 90, 180, 270

$size: 64px
$floor: $size / 8
$wall: $floor / 2
$tile: $size - $wall
$height: $tile - $wall * 2
$max_x: 12
$max_y: 12

$robot-size: $size / 2
