*,
*:before,
*:after
  +box-sizing(border-box)

html
  height: 100%

body
  height: 100%
  background-color: $white

.container
  position: relative
  min-height: 100%
  padding-bottom: $footer_height
  background-color: $sand

.layout-wrap
  max-width: 1280px
  padding: 0 40px
  margin: 0 auto

.layout-game
  max-width: 1300px
  margin: 0 auto

.panel
  position: fixed
  top: 0
  bottom: 0
  padding-top: 135px

  .content
    @extend %clearfix
    padding: 25px
    background: image-url("congruent_outline.png")
    box-shadow: $shadow-bright

  &.left
    width: 240px
    left: 0

    .content
      border-radius: 0 3px 3px 0

  &.right
    width: 250px
    right: 0

    .content
      border-radius: 3px 0 0 3px

  &.bottom
    width: auto
    left: 0px
    right: 0px
    top: auto
    bottom: 0
    padding: 0 50px
    text-align: center

    .content
      display: inline-block
      border-radius: 3px 3px 0 0
