$size: 20px
$max_x: 9
$max_y: 9

@mixin block($l,$w,$h,$lo:0,$wo:0,$ho:0)
  height: $l
  width: $w
  -webkit-transform: translateZ(($h + $ho))
  -webkit-transform-style: preserve-3d
  -webkit-transition: .25s

  &,
  &:before,
  &:after
    position: absolute
    background-color: #999
    content: ''

  &:before // right facing
    height: $l
    width: $h
    -webkit-transform: rotateY(90deg) translateX(($w + $wo))
    -webkit-transform-origin: (($w+$wo)/$h * 100%) 0

  &:after // left facing
    height: $h
    width: $w
    -webkit-transform: rotateX(-90deg) translateY(($l + $lo))
    -webkit-transform-origin: (($l+$lo)/($w+$wo) * 100%) (($l+$lo)/$h * 100%)

.mod-board
  position: absolute
  top: 50%
  left: 50%
  margin: -7.5em
  padding: $size
  height: ($max_y * $size)
  width: ($max_x * $size)

  background-color: #000
  -webkit-transform: rotateX(45deg) rotateZ(45deg)
  -webkit-transform-style: preserve-3d
  -webkit-transition: .25s

  @for $position from 0 through $max_x
    .x#{$position}
      left: ($position * $size)

  @for $position from 0 through $max_y
    .y#{$position}
      top: ($position * $size)

  .floor
    @include block(20px, 20px, 5px)
    box-shadow: inset 0 0 0 2px hsla(0,0%,0%,.2)
    border-radius: 1px

    &:before
      box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2)

    &:after
      box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2)

  .block
    @include block(20px, 20px, 20px)

    &,
    &:after,
    &:before
      background: green
      box-shadow: inset 0 0 0 2px hsla(0,0%,0%,.2)

  .lwall
    @include block(20px, 5px, 10px,0,10px,5px)
    &,
    &:after,
    &:before
      background: blue
      box-shadow: inset 0 0 0 2px hsla(0,0%,0%,.2)

  .twall
    @include block(5px, 20px, 10px,10px,0,5px)
    &,
    &:after,
    &:before
      background: blue
      box-shadow: inset 0 0 0 2px hsla(0,0%,0%,.2)
