.mod-header
  height: 4em
  padding: 1em 0
  color: white
  background-color: $white
  text-align: justify
  text-transform: uppercase

  .layout-wrap
    &:after
      content: ''
      display: inline-block
      width: 100%

    h1, nav
      display: inline-block

    > div,
    > div::before,
    nav,
    > div h1
      display: inline-block
      vertical-align: middle
      text-align: left

    > div
      height: 100%

    > div::before
      content: ''
      height: 100%

    nav a
      padding: 0 0.6em
      white-space: nowrap

    nav a:last-child
      padding-right: 0

  .logo
    color: $sky
    font-size: 200%

  .player-name
    color: $sky_dark
