label,
input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=file]
  display: block
  width: 100%
  font-size: 100%
  color: $sky_dark

label
  margin-bottom: 0.4em

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=file],
  margin-bottom: $pad
  padding: 0.5em
  border-radius: $br
  border: $sand solid 1px
  +appearance(none)

  .field_with_errors &
    border-color: $red
    margin-bottom: 0.3em

  &:focus
    outline: none
    border: $sky_dark solid 1px

.field_with_errors
  .error
    display: inline-block
    margin-bottom: $pad
    color: $red
