.comp-instruction_card
  display: flex
  flex-direction: column
  align-items: center
  flex: 1
  margin: 5px
  width: $card_width
  height: $card_height
  padding: 10px
  background: $sand_light
  border: 2px solid $sky_dark
  border-radius: $br
  cursor: pointer

  .icon
    font-size: 200%
    flex: 1

  .text
    font-size: 90%
    margin-bottom: 10px

  .priority
    font-size: 70%
